@font-face {
    font-family: "Titulo";
    src: url("./assets/fonts/AbrilFatface-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Highcrest";
    src: url("./assets/fonts/Highcrest.ttf") format("truetype");
}